<h1><%= @customer.name %></h1>

<div>
  <p>Birth Year: <%= @customer.birth_year %></p>
  <p>Is a Veteran? <%= @customer.is_veteran %>
  <p>Number of accounts: <%= @customer.accounts.count%></p>
</div>

<div>
  <%= link_to "/#{@customer.name}'s Accounts", "/customers/#{@customer.id}/accounts" %>
</div>

<div>
  <%= link_to "Update Customer", "/customers/#{@customer.id}/edit" %>
</div>